
.signup{
  .box{
    margin: 100px;
    margin-left: 600px;
    height: 400px;
    width: 300px;
    background-color: #efefef;
    border:1px solid gray;

    box-shadow: 1px 2px 8px ;
    .form-container{
      margin:0px;
      margin-left: -50px;
      // margin-left: 20px;
      h1{
         margin-left: 140px;
         margin-top: 10px;
      }
      .name{
        margin-top: 10px;
        margin-left: 100px;
        input{
          margin-left: -10px;
          width: 220px;
          padding: 3px;
          padding-left: 5px;
          padding-top: 0px;
        }
        p{
          margin-left: 70px;
        margin-bottom: 10px;
        font-weight: 500;
        

        }
      }
      .email{
        margin-top: 20px;
        margin-left: 100px;
        input{
          margin-left: -10px;
          width: 220px;
          padding: 3px;
          padding-left: 5px;
          padding-top: 0px;

        }
        p{
          margin-left: 50px;
        margin-bottom: 10px;
        font-weight: 500;
   
        }

      }
      .password{
        margin-top: 20px;
        margin-left: 100px;
        input{
          margin-left: -10px;
          width: 220px;
          padding: 3px;
          padding-left: 5px;
          padding-top: 0px;

        }
        p{
          margin-left: 60px;
        margin-bottom: 10px;
        font-weight: 500;
  
        }
      }
      button{
        width: 200px;
        margin-top:20px;
        margin-left: 100px;
      }
    }
    .name-length-error{
      p{
        color: red;
      margin-top: 8px;
      margin-left: 95px;
      }
    }
    .email-exist{
      p{
        color: red;
      margin-top: 8px;
      margin-left: 117px;
      }
    }
    .email-error{
      p{
        color: red;
      margin-top: 8px;
      margin-left: 110px;
      }
    }
    .password-length-error{
      p{
        color: red;
      margin-top: 8px;
      margin-left: 80px;
      }
    }
  }
}